/* main */


/* @import "vendor/reset.css;" */

@import "vendors/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania');
@import url('"https://fonts.googleapis.com/css2?family=Berkshire+Swash');


/* font-family: 'Metal Mania', cursive; */

/* font-family: Berkshire Swash', cursive; */

/* typography */

p {
    font-family: 'Metal Mania', cursive;
    div,
    footer {
    font-family: 'Metal Mania', cursive;
    font-size: 1.2rem;
}
}

/* Main Navigation */

nav a {
    color: #F00;
    display: block;
    padding: 0.6rem;
}

nav a:visited {
    color: #F0F;
}

nav a:hover {
    color: #00F;
}


/* Background Image */

body{
    background-image: url(../images/download-1.jpg);
    background-color: blueviolet;
    background-size: cover;
    padding: 5%;
}
